<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Your Name</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <% include partials/_header %>

  <main>
    <div class="container">

      <h2>Projects</h2>

      <div class="project-divider"></div>

        <div class="col s12 m7">
          <h3 class="header">My Midterm Project</h3>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/app-icon.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Banh mi art party cardigan everyday carry thundercats franzen echo park celiac. Truffaut etsy art party coloring book craft beer quinoa farm-to-table hell of. Woke hoodie jianbing, chartreuse kickstarter humblebrag stumptown truffaut mlkshk salvia quinoa direct trade.</p>
              </div>
              <div class="card-action">
                <a href="#">Link to project</a>
              </div>
            </div>
          </div>
        </div>

        <div class="divider project-divider"></div>

        <div class="col s12 m7">
          <h3 class="header">My Final Project</h3>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/app-icon.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Banh mi art party cardigan everyday carry thundercats franzen echo park celiac. Truffaut etsy art party coloring book craft beer quinoa farm-to-table hell of. Woke hoodie jianbing, chartreuse kickstarter humblebrag stumptown truffaut mlkshk salvia quinoa direct trade.</p>
              </div>
              <div class="card-action">
                <a href="#">Link to project</a>
              </div>
            </div>
          </div>
        </div>

        <div class="divider project-divider"></div>


    </div> <!-- Container -->

  </main>

  <% include partials/_footer %>

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>

</html>